@charset "UTF-8";
/* CSS Document */
body {
	background-size: cover;
	background-attachment: local;
}

 body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
    #content {
      width: 100%;
      height: 100%;
      background-color: lightblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.character {
    position: absolute;
    bottom: 0; /* キャラクターを背景の下部に配置 */
    left: 50%; /* キャラクターを背景の中央に配置 */
    transform: translateX(-50%); /* キャラクターを中央に揃える */
    width: 100%; /* キャラクターのサイズを調整、背景に応じて値を調整 */
    max-width: 100%x; /* 必要に応じて最大幅を指定 */
    height: auto; /* アスペクト比を保ったまま高さを自動調整 */
}

.text-image {
    position: absolute; /* テキストボックスの位置を設定 */
    bottom: 0; /* テキストボックスの下に配置 */
    width: 100%; /* 幅を100%に設定 */
    height: auto; /* 高さはアスペクト比を保つ */
    z-index: 1; /* 他の要素の上に表示するためにz-indexを設定 */
}

.text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* 高さを固定してみる */
    color: white;
    padding: 20px; /* パディングを小さく */
    box-sizing: border-box;
    text-align: left;
    font-size: 30px;
	z-index: 3;
	font-family: 'Kosugi Maru', sans-serif; /* フォントを設定 */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* ドロップシャドウを追加 */
}

#button-container {
    position: absolute;
    bottom: 50%; /* テキストボックスの上に配置 */
    left: 50%;
    transform: translate(-50%, 50%); /* 中央揃えにして、少し上に配置 */
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 10; /* テキストボックスより上に重ねる */
}

button {
	color: #fff;
	background-image: linear-gradient(to bottom, #4a83ff, #9cbafb); /* グラデーションを追加 */
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
	font-family: 'Kosugi Maru', sans-serif; /* フォントを設定 */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* ドロップシャドウを追加 */
    z-index: 10; /* テキストボックスより上に表示 */
    border-radius: 100vh;
	border-bottom: 5px solid #559cff;
}
button:hover {
  margin-top: 3px;
  color: #fff;
  background-image: linear-gradient(to bottom, #ff4d9a, #fa9fbd); /* グラデーションを追加 */
  border-bottom: 2px solid #ff5ba2;
}
button-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}